# Node.js dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Redis
dump.rdb
redis.conf

# MongoDB
*.lock
*.pid

# OS-specific files
.DS_Store
Thumbs.db

# IDEs/Editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Temporary files
tmp/
temp/
*.tmp

# Coverage directory used by testing tools
coverage/

# Docker
Dockerfile
docker-compose.yml

# Other
*.bak
*.swp

